.header {
    padding: 1rem 0 2rem 0;
}

.main {
}

.footer {
    padding: 3rem 0;    
}

.hero-small {
    font-size: 1.5rem;
}

.hero-large {
    font-size: 3rem;
}

img.thumb {
    max-width: 50px;
}

a.thumb {
    text-decoration: none;
}